# Data quality and completeness checks

Distribution of y (generation values) 

Check for negative values (shouldn't exist for PV)

Percentage of zero values (nighttime + low-light periods)

Missing values and gaps in time series

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [5]:
# Data paths
DATA_DIR = '..\data'

In [14]:
generation = pd.read_parquet(f'{DATA_DIR}/generation.parquet')
metadata = pd.read_parquet(f'{DATA_DIR}/metadata.parquet')
weather = pd.read_parquet(f'{DATA_DIR}/weather.parquet')

In [15]:
print(f"Generation: {generation.shape}, Columns: {generation.columns.tolist()}")
print(f"Metadata: {metadata.shape}, Columns: {metadata.columns.tolist()}")
print(f"Weather: {weather.shape}, Columns: {weather.columns.tolist()}")

Generation: (42616800, 3), Columns: ['unique_id', 'timestamp', 'y']
Metadata: (475, 13), Columns: ['unique_id', 'dataset', 'building_id', 'latitude', 'longitude', 'location_id', 'location', 'timezone', 'freq', 'dc_capacity', 'ac_capacity', 'tilt', 'azimuth']
Weather: (10797648, 33), Columns: ['timestamp', 'temperature_2m', 'relative_humidity_2m', 'dew_point_2m', 'apparent_temperature', 'precipitation', 'rain', 'snowfall', 'snow_depth', 'weather_code', 'pressure_msl', 'surface_pressure', 'cloud_cover', 'cloud_cover_low', 'cloud_cover_mid', 'cloud_cover_high', 'et0_fao_evapotranspiration', 'vapour_pressure_deficit', 'wind_speed_10m', 'wind_direction_10m', 'wind_gusts_10m', 'soil_temperature_0_to_7cm', 'soil_temperature_7_to_28cm', 'soil_moisture_0_to_7cm', 'soil_moisture_7_to_28cm', 'is_day', 'sunshine_duration', 'shortwave_radiation', 'direct_radiation', 'diffuse_radiation', 'direct_normal_irradiance', 'terrestrial_radiation', 'location_id']

In [16]:
generation.head(10)

          unique_id           timestamp    y
0  6f8872976c8fe471 2014-01-01 01:00:00  0.0
1  6f8872976c8fe471 2014-01-01 01:15:00  0.0
2  6f8872976c8fe471 2014-01-01 01:30:00  0.0
3  6f8872976c8fe471 2014-01-01 01:45:00  0.0
4  6f8872976c8fe471 2014-01-01 02:00:00  0.0
5  6f8872976c8fe471 2014-01-01 02:15:00  0.0
6  6f8872976c8fe471 2014-01-01 02:30:00  0.0
7  6f8872976c8fe471 2014-01-01 02:45:00  0.0
8  6f8872976c8fe471 2014-01-01 03:00:00  0.0
9  6f8872976c8fe471 2014-01-01 03:15:00  0.0

In [75]:
generation.describe()

                  y
count  3.980491e+07
mean   7.886642e-02
std    3.146534e-01
min   -6.125488e-01
25%    0.000000e+00
50%    0.000000e+00
75%    6.089245e-02
max    1.057635e+02

In [17]:
weather.head(100)

,timestamp,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,snow_depth,weather_code,...,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,is_day,sunshine_duration,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance,terrestrial_radiation,location_id
0,2012-12-31 22:00:00,9.393499,87.625008,7.4435,3.563058,0.9,0.9,0.0,0.0,53.0,...,0.528,0.509,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u15x8ntvmq63
1,2012-12-31 22:00:00,9.450000,88.230011,7.6000,3.511946,0.8,0.8,0.0,0.0,53.0,...,0.580,0.561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u17900tcm36m
2,2012-12-31 22:00:00,9.300000,88.216827,7.4500,3.471147,0.9,0.9,0.0,0.0,53.0,...,0.611,0.593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u1787bf7vxej
3,2012-12-31 22:00:00,9.287001,88.215675,7.4370,3.454961,0.9,0.9,0.0,0.0,53.0,...,0.611,0.593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u1787fdqjxg1
4,2012-12-31 22:00:00,9.263000,87.314041,7.2630,3.547751,0.9,0.9,0.0,0.0,53.0,...,0.421,0.406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u15xvxu8twzr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2012-12-31 22:00:00,9.256500,87.313423,7.2565,3.539676,0.9,0.9,0.0,0.0,53.0,...,0.421,0.406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u178jcefyxpg
96,2012-12-31 22:00:00,9.300000,88.216827,7.4500,3.471147,0.9,0.9,0.0,0.0,53.0,...,0.611,0.593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u178k2bgzxsj
97,2012-12-31 22:00:00,9.282500,87.614777,7.3325,3.730391,0.8,0.8,0.0,0.0,53.0,...,0.286,0.270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u17be05mn0hq
98,2012-12-31 22:00:00,9.293500,87.615784,7.3435,3.438621,0.9,0.9,0.0,0.0,53.0,...,0.422,0.406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u15xujcwqwge
99,2012-12-31 22:00:00,9.300000,88.216827,7.4500,3.587343,0.8,0.8,0.0,0.0,53.0,...,0.288,0.270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,u17bfuuhv15u

In [65]:
metadata.head()

,unique_id,dataset,building_id,latitude,longitude,location_id,location,timezone,freq,dc_capacity,ac_capacity,tilt,azimuth
0,6f8872976c8fe471,Utrecht,ID001,52.03,5.17,u15xvxu8twzr,"Utrecht, NL",Europe/Amsterdam,15T,2.711,2.67,42.0,150.0
1,5aa2ce692360ec76,Utrecht,ID002,51.97,5.33,u15z9kc5nn0j,"Utrecht, NL",Europe/Amsterdam,15T,1.902,2.00,30.0,170.0
2,bc2963b70fa99ae5,Utrecht,ID003,52.11,5.13,u178kwrdc8j4,"Utrecht, NL",Europe/Amsterdam,15T,2.503,2.25,40.0,203.0
3,e6e9ca9bda5ea7b0,Utrecht,ID004,52.10,5.12,u178ks822xut,"Utrecht, NL",Europe/Amsterdam,15T,2.087,2.03,35.0,190.0
4,85cd9f684a271939,Utrecht,ID005,52.07,5.13,u178hxp99xt0,"Utrecht, NL",Europe/Amsterdam,15T,2.413,2.50,15.0,180.0

In [18]:
generation.groupby('unique_id').agg(
    start=('timestamp', 'min'),
    end=('timestamp', 'max'),
    num=('y', 'size'),
    zero_ratio=('y', lambda x: (x == 0).mean()),
    max_y=('y', 'max')
)

,start,end,num,zero_ratio,max_y
unique_id,,,,,
0001953ce171ce70,2014-01-01 01:00:00,2018-01-01 00:45:00,140240,0.107808,0.751928
003ab28018b79b3e,2010-06-30 23:30:00,2013-12-06 23:00:00,50880,0.557056,0.438000
01357f3a8206bd40,2014-01-01 01:00:00,2018-01-01 00:45:00,140240,0.593525,1.011450
01b0edf27070e6dc,2010-06-30 23:30:00,2013-12-06 23:00:00,50880,0.550511,0.456000
01d18234ff385eb4,2010-06-30 23:30:00,2013-12-06 23:00:00,50880,0.542138,0.494000
...,...,...,...,...,...
fc083e613604ccea,2014-01-01 01:00:00,2018-01-01 00:45:00,140240,0.137578,1.029450
fc973f67cd82d7fc,2010-06-30 23:30:00,2013-12-06 23:00:00,50880,0.527162,0.688000
fd2f7280a3d3fae2,2010-06-30 23:30:00,2013-12-06 23:00:00,50880,0.510515,4.250000
fde5d1de2b8698c7,2010-06-30 23:30:00,2013-12-06 23:00:00,50880,0.496541,0.962000
ff0ca093c88c1451,2010-06-30 23:30:00,2013-12-06 23:00:00,50880,0.516647,1.477000

In [52]:
generation.describe()

                  y
count  3.980491e+07
mean   7.886642e-02
std    3.146534e-01
min   -6.125488e-01
25%    0.000000e+00
50%    0.000000e+00
75%    6.089245e-02
max    1.057635e+02

In [19]:
def main_freq(df):
    return df['timestamp'].diff().mode()[0]

freqs = generation.groupby("unique_id").apply(main_freq)
freqs.value_counts()

0 days 00:30:00    300
0 days 00:15:00    175
dtype: int64

In [21]:
freqs = weather.groupby("location_id").apply(main_freq)
freqs.value_counts()

0 days 01:00:00    222
dtype: int64

In [76]:
generation["timestamp"] = pd.to_datetime(generation["timestamp"])

generation.head(10)

# Resample per asset
gen_30min = (
    generation
    .set_index("timestamp")
    .groupby("unique_id")["y"]
    .resample("30min")
    .mean()
    .reset_index()
)

gen_30min.head()

          unique_id           timestamp    y
0  0001953ce171ce70 2014-01-01 01:00:00  0.0
1  0001953ce171ce70 2014-01-01 01:30:00  0.0
2  0001953ce171ce70 2014-01-01 02:00:00  0.0
3  0001953ce171ce70 2014-01-01 02:30:00  0.0
4  0001953ce171ce70 2014-01-01 03:00:00  0.0

In [59]:
def fill_and_clean(df, max_gap="3H"):
    df = df.sort_values("timestamp").set_index("timestamp")

    # Fill short gaps only
    df["y"] = df["y"].interpolate(
        method="time",
        limit=pd.Timedelta(max_gap) // pd.Timedelta("30min")
    )

    return df.reset_index()

In [77]:
gen_clean = (
    gen_30min
    .groupby("unique_id", group_keys=False)
    .apply(fill_and_clean)
)

In [78]:
def count_filled(uid):
    b = gen_30min[gen_30min.unique_id == uid]
    a = gen_clean[gen_clean.unique_id == uid]

    merged = b.merge(a, on=["unique_id","timestamp"], how="outer",
                     suffixes=("_orig","_clean"))

    return (merged["y_orig"].isna() & merged["y_clean"].notna()).sum()

filled_counts = {
    uid: count_filled(uid)
    for uid in gen_clean["unique_id"].unique()[:20]
}

filled_counts

{'0001953ce171ce70': 8,
 '003ab28018b79b3e': 102,
 '01357f3a8206bd40': 8,
 '01b0edf27070e6dc': 102,
 '01d18234ff385eb4': 102,
 '01d3b5b8070fbf4b': 102,
 '01e0b712e29c78ad': 102,
 '02049e12a33baf19': 102,
 '02e5f443f57ba5d8': 102,
 '032a24545e4bd6f7': 102,
 '04812a76d615d6ca': 102,
 '0499281954de34cc': 8,
 '04dab90506bf3b7c': 8,
 '0554f5c628781b01': 102,
 '05579e8c53666a0f': 102,
 '05af78b79913c91b': 102,
 '070b68563d409033': 8,
 '071a630f36d2c3f9': 8,
 '0782c8bfceddaf03': 102,
 '07aca4a05d570a2b': 8}

# Join metadata

In [79]:
gen_meta = gen_clean.merge(
    metadata,
    on="unique_id",
    how="left"
)

In [80]:
gen_meta.head()

,timestamp,unique_id,y,dataset,building_id,latitude,longitude,location_id,location,timezone,freq,dc_capacity,ac_capacity,tilt,azimuth
0,2014-01-01 01:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,15T,3.761,3.0,38.0,195.0
1,2014-01-01 01:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,15T,3.761,3.0,38.0,195.0
2,2014-01-01 02:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,15T,3.761,3.0,38.0,195.0
3,2014-01-01 02:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,15T,3.761,3.0,38.0,195.0
4,2014-01-01 03:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,15T,3.761,3.0,38.0,195.0

# Join Weather correctly
by timestamp

location_id

In [64]:
weather["timestamp"] = pd.to_datetime(weather["timestamp"])

In [65]:
# Upsample weather data to 30-min intervals using interpolation
def upsample_weather(weather_df):
    """Upsample hourly weather data to 30-minute intervals"""
    weather_30min = []
    
    for location in weather_df['location_id'].unique():
        location_weather = weather_df[weather_df['location_id'] == location].copy()
        location_weather = location_weather.set_index('timestamp').sort_index()
        
        # Resample to 30min and interpolate
        location_weather_30min = location_weather.resample('30min').interpolate(method='time')
        location_weather_30min['location_id'] = location
        
        weather_30min.append(location_weather_30min.reset_index())
    
    return pd.concat(weather_30min, ignore_index=True)

# Apply upsampling
weather_30min = upsample_weather(weather)
print(f"Original weather shape: {weather.shape}")
print(f"Upsampled weather shape: {weather_30min.shape}")
print(f"New weather frequency check:")
weather_30min_freq = weather_30min.groupby("location_id").apply(lambda x: x['timestamp'].diff().mode().iloc[0] if len(x['timestamp'].diff().mode()) > 0 else None)
print(weather_30min_freq.value_counts())

Original weather shape: (10797648, 33)
Upsampled weather shape: (21595514, 33)
New weather frequency check:
0 days 00:30:00    222
dtype: int64

In [81]:
# Join with upsampled weather data
gen_full = gen_meta.merge(
    weather_30min,  # Use upsampled weather data instead
    on=["timestamp", "location_id"],
    how="left"
)

print(f"Final dataset shape: {gen_full.shape}")
print(f"Missing weather data after join: {gen_full[['temperature_2m', 'shortwave_radiation']].isna().mean()}")

Final dataset shape: (30344400, 46)
Missing weather data after join: temperature_2m         0.0
shortwave_radiation    0.0
dtype: float64

In [82]:
# Save the joined dataset for modeling
gen_full.to_parquet(f'{DATA_DIR}/gen_full_mean.parquet', index=False)

In [69]:
gen_full.head()

,timestamp,unique_id,y,dataset,building_id,latitude,longitude,location_id,location,timezone,...,soil_temperature_7_to_28cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,is_day,sunshine_duration,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance,terrestrial_radiation
0,2014-01-01 01:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,5.989,0.2950,0.2770,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2014-01-01 01:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,5.989,0.2935,0.2775,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014-01-01 02:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,5.989,0.2920,0.2780,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014-01-01 02:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,5.989,0.2910,0.2780,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-01-01 03:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,5.989,0.2900,0.2780,0.0,0.0,0.0,0.0,0.0,0.0,0.0

drop these redundant columns:

pressure_msl
surface_pressure
snow_depth
snowfall
rain
weather_code
soil_temperature_0_to_7cm
soil_temperature_7_to_28cm
soil_moisture_0_to_7cm
soil_moisture_7_to_28cm
terrestrial_radiation

In [83]:
# drop column that are unrelated for forecasting
gen_full = gen_full.drop(columns=["pressure_msl", "surface_pressure", "snow_depth", "snowfall", "weather_code", "soil_temperature_0_to_7cm", "soil_temperature_7_to_28cm", "soil_moisture_0_to_7cm", "soil_moisture_7_to_28cm", "terrestrial_radiation"])

In [71]:
gen_full.head(10)

,timestamp,unique_id,y,dataset,building_id,latitude,longitude,location_id,location,timezone,...,vapour_pressure_deficit,wind_speed_10m,wind_direction_10m,wind_gusts_10m,is_day,sunshine_duration,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance
0,2014-01-01 01:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.074622,19.642281,206.095367,36.719997,0.0,0.0,0.0,0.0,0.0,0.0
1,2014-01-01 01:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.069076,19.332230,207.785583,35.099998,0.0,0.0,0.0,0.0,0.0,0.0
2,2014-01-01 02:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.063529,19.022177,209.475800,33.480000,0.0,0.0,0.0,0.0,0.0,0.0
3,2014-01-01 02:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.063822,18.447866,208.536499,33.299999,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-01-01 03:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.064115,17.873556,207.597198,33.119999,0.0,0.0,0.0,0.0,0.0,0.0
5,2014-01-01 03:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.061820,17.965532,205.547882,33.119999,0.0,0.0,0.0,0.0,0.0,0.0
6,2014-01-01 04:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.059526,18.057508,203.498581,33.119999,0.0,0.0,0.0,0.0,0.0,0.0
7,2014-01-01 04:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.060474,18.364491,201.316162,33.119999,0.0,0.0,0.0,0.0,0.0,0.0
8,2014-01-01 05:00:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.061422,18.671474,199.133743,33.119999,0.0,0.0,0.0,0.0,0.0,0.0
9,2014-01-01 05:30:00,0001953ce171ce70,0.0,Utrecht,ID149,52.12,5.42,u17be24tp0hy,"Utrecht, NL",Europe/Amsterdam,...,0.062222,18.855337,197.241974,33.660000,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
def data_quality_report(df, name):
    print(f"\n{'='*50}")
    print(f"DATA QUALITY REPORT: {name}")
    print(f"{'='*50}")
    print(f"Shape: {df.shape}")
    print(f"\nMissing Values for each column:")
    missing = df.isnull().sum()
    missing_pct = (missing / len(df) * 100).round(2)
    # Create detailed missing values report
    missing_report = pd.DataFrame({
        'Column': df.columns,
        'Missing_Count': missing.values,
        'Missing_Percent': missing_pct.values,
        'Data_Type': df.dtypes.values
    })
    print(missing_report)
    print("-------" * 10)

data_quality_report(gen_full, "gen_full")

==================================================
DATA QUALITY REPORT: gen_full
==================================================
Shape: (30344400, 36)

Missing Values for each column:
                        Column  Missing_Count  Missing_Percent       Data_Type
0                    timestamp              0             0.00  datetime64[ns]
1                    unique_id              0             0.00        category
2                            y        2781216             9.17         float64
3                      dataset              0             0.00        category
4                  building_id              0             0.00        category
5                     latitude              0             0.00         float64
6                    longitude              0             0.00         float64
7                  location_id              0             0.00          object
8                     location              0             0.00        category
9                     timezone              0             0.00        category
10                        freq              0             0.00        category
11                 dc_capacity              0             0.00         float64
12                 ac_capacity       18072000            59.56         float64
13                        tilt       18072000            59.56         float64
14                     azimuth       18072000            59.56         float64
15              temperature_2m              0             0.00         float32
16        relative_humidity_2m              0             0.00         float32
17                dew_point_2m              0             0.00         float32
18        apparent_temperature              0             0.00         float32
19               precipitation              0             0.00         float32
20                        rain              0             0.00         float32
21                 cloud_cover              0             0.00         float32
22             cloud_cover_low              0             0.00         float32
23             cloud_cover_mid              0             0.00         float32
24            cloud_cover_high              0             0.00         float32
25  et0_fao_evapotranspiration              0             0.00         float32
26     vapour_pressure_deficit              0             0.00         float32
27              wind_speed_10m              0             0.00         float32
28          wind_direction_10m              0             0.00         float32
29              wind_gusts_10m              0             0.00         float32
30                      is_day              0             0.00         float32
31           sunshine_duration              0             0.00         float32
32         shortwave_radiation              0             0.00         float32
33            direct_radiation              0             0.00         float32
34           diffuse_radiation              0             0.00         float32
35    direct_normal_irradiance              0             0.00         float32
----------------------------------------------------------------------

## Analyzing or handling the missing values

In [150]:
# 1a. Summer vs Winter Missing Data
print("\n--- Summer vs Winter Comparison ---")
gen_full_copy = gen_full.copy()
gen_full_copy['month'] = gen_full_copy['timestamp'].dt.month

missing_by_month_pct = gen_full_copy[gen_full_copy['y'].isna()].groupby('month').size()/gen_full_copy.groupby('month').size()
print("\nMissing values by month:")
print(missing_by_month_pct.round(2).map('{:.2%}'.format))

summer_missing = gen_full_copy[
    (gen_full_copy['month'].isin([7, 8, 9, 10, 11])) & 
    (gen_full_copy['y'].isna())
].shape[0]

summer_total = gen_full_copy[gen_full_copy['month'].isin([7, 8, 9, 10, 11])].shape[0]
summer_missing_pct = (summer_missing / summer_total) * 100

winter_missing = gen_full_copy[
    (gen_full_copy['month'].isin([1, 2, 3, 4, 5, 6, 12])) & 
    (gen_full_copy['y'].isna())
].shape[0]

winter_total = gen_full_copy[gen_full_copy['month'].isin([1, 2, 3, 4, 5, 6, 12])].shape[0]
winter_missing_pct = (winter_missing / winter_total) * 100

print(f"\nSummer months (Jul-Nov): {summer_missing_pct:.2f}% missing")
print(f"Winter months (Jan-Jun, Dec): {winter_missing_pct:.2f}% missing")

--- Summer vs Winter Comparison ---

Missing values by month:
month
1      4.00%
2      4.00%
3      4.00%
4      4.00%
5      4.00%
6      4.00%
7     16.00%
8     16.00%
9     16.00%
10    16.00%
11    16.00%
12     3.00%
dtype: object

Summer months (Jul-Nov): 15.68% missing
Winter months (Jan-Jun, Dec): 3.62% missing

In [119]:
 # 1b. Installations with High Missing %
print("\n--- Installations with High Missing Data ---")
missing_by_id = gen_full.groupby("unique_id").agg({
    "y": ["count", lambda x: x.isna().sum(), lambda x: (x.isna().sum() / len(x)) * 100]
}).round(2)
missing_by_id.columns = ["total_records", "missing_count", "missing_pct"]
missing_by_id = missing_by_id.sort_values("missing_pct", ascending=False)

print("\nTop installations with missing data:")
print(missing_by_id.head(15))

--- Installations with High Missing Data ---

Top installations with missing data:
                  total_records  missing_count  missing_pct
unique_id
4ea98389b8e308ad          47166          13074        21.70
ff0ca093c88c1451          50982           9258        15.37
d4ecaa0b706d8362          50982           9258        15.37
81d4409321ec103c          50982           9258        15.37
d5c8b7c9b4366c71          50982           9258        15.37
806aad6f019561c2          50982           9258        15.37
8038ad65c0fedbe9          50982           9258        15.37
7ff4747eb2ca2b37          50982           9258        15.37
d5cd5069c50944c7          50982           9258        15.37
7f04c294e1964ac0          50982           9258        15.37
7e46ba8a691fa18e          50982           9258        15.37
7ca6d4cbcc4706b1          50982           9258        15.37
d7477c2de6fbd2ed          50982           9258        15.37
7bd4aa81235e919d          50982           9258        15.37
7b99ecbd37fe1b92          50982           9258        15.37

In [109]:
# Comprehensive missing data analysis
print("=== MISSING DATA ANALYSIS ===\n")

# 1. Overall missing statistics
total_missing = gen_full["y"].isna().sum()
total_records = len(gen_full)
missing_pct = (total_missing / total_records) * 100

print(f"Total missing y values: {total_missing:,} out of {total_records:,} ({missing_pct:.2f}%)")

# 2. Missing data by unique_id (solar installation)
missing_by_id = gen_full.groupby("unique_id").agg({
    "y": ["count", lambda x: x.isna().sum(), lambda x: (x.isna().sum() / len(x)) * 100]
}).round(2)
missing_by_id.columns = ["total_records", "missing_count", "missing_pct"]
missing_by_id = missing_by_id.sort_values("missing_pct", ascending=False)

print(f"\nTop 15 installations with highest missing data:")
print(missing_by_id.head(15))

# 3. INVESTIGATE THE 15.37% PATTERN
print("\n" + "="*70)
print("INVESTIGATING THE 15.37% MISSING PATTERN")
print("="*70)

# Find all installations with exactly 15.37% missing
installations_15_37 = missing_by_id[
    (missing_by_id['missing_pct'] >= 15.35) & 
    (missing_by_id['missing_pct'] <= 15.40)
]

print(f"\nNumber of installations with ~15.37% missing: {len(installations_15_37)}")
print(f"All have exactly: {installations_15_37['total_records'].unique()} total records")
print(f"All have exactly: {installations_15_37['missing_count'].unique()} missing records")

# Get these installation IDs
ids_15_37 = installations_15_37.index.tolist()

# Check what they have in common
print("\n--- What do these installations have in common? ---")

# Check dataset
datasets = gen_full[gen_full['unique_id'].isin(ids_15_37)]['dataset'].unique()
print(f"Datasets: {datasets}")

# Check time period
time_info = gen_full[gen_full['unique_id'].isin(ids_15_37)].groupby('unique_id').agg({
    'timestamp': ['min', 'max']
})
print(f"\nTime ranges:")
print(time_info.head(5))

# Check if they all have the same time range
all_same = time_info.nunique() == 1
print(f"\nAll have same time range? {all_same.all()}")

# 4. Find WHEN the missing data occurs for these installations
print("\n--- When does the missing data occur? ---")

# Take one example from the 15.37% group
example_id = ids_15_37[0]
example_data = gen_full[gen_full['unique_id'] == example_id].copy()

print(f"\nAnalyzing example: {example_id}")
print(f"Total records: {len(example_data)}")
print(f"Missing records: {example_data['y'].isna().sum()}")

# Find the missing periods
example_data['is_missing'] = example_data['y'].isna()
example_data['missing_group'] = (
    example_data['is_missing'] != example_data['is_missing'].shift()
).cumsum()

missing_periods = example_data[example_data['is_missing']].groupby('missing_group').agg({
    'timestamp': ['min', 'max', 'count']
})
missing_periods.columns = ['start', 'end', 'count']
missing_periods['duration_days'] = (
    (missing_periods['count'] * 30) / (60 * 24)  # 30-min intervals to days
).round(1)

print(f"\nNumber of missing periods: {len(missing_periods)}")
print("\nMissing periods:")
print(missing_periods)

# 5. Check if ALL 15.37% installations have the SAME missing periods
print("\n--- Do all 15.37% installations share the same missing periods? ---")

# Check first 3 installations
for i, uid in enumerate(ids_15_37[:3]):
    install_data = gen_full[gen_full['unique_id'] == uid].copy()
    missing_timestamps = install_data[install_data['y'].isna()]['timestamp'].tolist()
    
    if i == 0:
        reference_missing = set(missing_timestamps)
        print(f"\nReference installation {uid}:")
        print(f"  Missing timestamps count: {len(reference_missing)}")
    else:
        current_missing = set(missing_timestamps)
        overlap = len(reference_missing & current_missing)
        print(f"\nInstallation {uid}:")
        print(f"  Missing timestamps count: {len(current_missing)}")
        print(f"  Overlap with reference: {overlap} ({overlap/len(reference_missing)*100:.1f}%)")

# 3. Missing data by time patterns
missing_data = gen_full[gen_full["y"].isna()].copy()
if len(missing_data) > 0:
    missing_data["hour"] = missing_data["timestamp"].dt.hour
    missing_data["month"] = missing_data["timestamp"].dt.month
    missing_data["day_of_week"] = missing_data["timestamp"].dt.dayofweek
    
    print(f"\nMissing data by hour of day:")
    print(missing_data["hour"].value_counts().sort_index())
    
    print(f"\nMissing data by month:")
    print(missing_data["month"].value_counts().sort_index())
    
    print(f"\nMissing data by day of week (0=Monday):")
    print(missing_data["day_of_week"].value_counts().sort_index())

=== MISSING DATA ANALYSIS ===

Total missing y values: 2,781,216 out of 30,344,400 (9.17%)

Top 15 installations with highest missing data:
                  total_records  missing_count  missing_pct
unique_id
4ea98389b8e308ad          47166          13074        21.70
ff0ca093c88c1451          50982           9258        15.37
d4ecaa0b706d8362          50982           9258        15.37
81d4409321ec103c          50982           9258        15.37
d5c8b7c9b4366c71          50982           9258        15.37
806aad6f019561c2          50982           9258        15.37
8038ad65c0fedbe9          50982           9258        15.37
7ff4747eb2ca2b37          50982           9258        15.37
d5cd5069c50944c7          50982           9258        15.37
7f04c294e1964ac0          50982           9258        15.37
7e46ba8a691fa18e          50982           9258        15.37
7ca6d4cbcc4706b1          50982           9258        15.37
d7477c2de6fbd2ed          50982           9258        15.37
7bd4aa81235e919d          50982           9258        15.37
7b99ecbd37fe1b92          50982           9258        15.37

======================================================================
INVESTIGATING THE 15.37% MISSING PATTERN
======================================================================

Number of installations with ~15.37% missing: 299
All have exactly: [50982] total records
All have exactly: [9258] missing records

--- What do these installations have in common? ---
Datasets: ['Ausgrid Solar Home']
Categories (2, object): ['Ausgrid Solar Home', 'Utrecht']

Time ranges:
                           timestamp
                                 min                 max
unique_id
0001953ce171ce70                 NaT                 NaT
003ab28018b79b3e 2010-06-30 23:30:00 2013-12-06 23:00:00
01357f3a8206bd40                 NaT                 NaT
01b0edf27070e6dc 2010-06-30 23:30:00 2013-12-06 23:00:00
01d18234ff385eb4 2010-06-30 23:30:00 2013-12-06 23:00:00

All have same time range? True

--- When does the missing data occur? ---

Analyzing example: ff0ca093c88c1451
Total records: 60240
Missing records: 9258

Number of missing periods: 17

Missing periods:
                            start                 end  count  duration_days
missing_group
2             2011-07-01 02:30:00 2011-07-06 23:00:00    282            5.9
4             2011-08-01 02:30:00 2011-08-06 23:00:00    282            5.9
6             2011-09-01 02:30:00 2011-09-06 23:00:00    282            5.9
8             2011-10-01 02:30:00 2011-10-06 23:00:00    282            5.9
10            2011-11-01 02:30:00 2011-11-06 23:00:00    282            5.9
12            2011-12-01 02:30:00 2011-12-06 23:00:00    282            5.9
14            2013-01-07 02:30:00 2013-01-12 23:00:00    282            5.9
16            2013-02-07 02:30:00 2013-02-12 23:00:00    282            5.9
18            2013-03-07 02:30:00 2013-03-12 23:00:00    282            5.9
20            2013-04-07 02:30:00 2013-04-12 23:00:00    282            5.9
22            2013-05-07 02:30:00 2013-05-12 23:00:00    282            5.9
24            2013-06-07 02:30:00 2013-06-12 23:00:00    282            5.9
26            2013-07-07 02:30:00 2013-07-31 23:00:00   1194           24.9
28            2013-08-07 02:30:00 2013-08-31 23:00:00   1194           24.9
30            2013-09-07 02:30:00 2013-09-30 23:00:00   1146           23.9
32            2013-10-07 02:30:00 2013-10-31 23:00:00   1194           24.9
34            2013-11-07 02:30:00 2013-11-30 23:00:00   1146           23.9

--- Do all 15.37% installations share the same missing periods? ---

Reference installation ff0ca093c88c1451:
  Missing timestamps count: 9258

Installation d4ecaa0b706d8362:
  Missing timestamps count: 9258
  Overlap with reference: 9258 (100.0%)

Installation 81d4409321ec103c:
  Missing timestamps count: 9258
  Overlap with reference: 9258 (100.0%)

Missing data by hour of day:
0     106938
1     106938
2     112050
3     117162
4     117162
5     117162
6     117162
7     117162
8     117162
9     117162
10    117162
11    117162
12    117162
13    117162
14    117162
15    117162
16    117162
17    117162
18    117162
19    117162
20    117162
21    117162
22    117162
23    112050
Name: hour, dtype: int64

Missing data by month:
1      84690
2      84690
3      84690
4      84690
5      84690
6      84690
7     442890
8     442890
9     428490
10    443802
11    429354
12     85650
Name: month, dtype: int64

Missing data by day of week (0=Monday):
0    398964
1    413922
2    372607
3    395668
4    400374
5    413917
6    385764
Name: day_of_week, dtype: int64

In [113]:
print("\n--- Longest Consecutive Missing Gaps ---")

def longest_gap(df):
    mask = df["y"].isna()
    if mask.sum() == 0:
        return 0
    streaks = mask.groupby((mask != mask.shift()).cumsum()).sum()
    return streaks.max()

longest_gaps = gen_full.groupby("unique_id").apply(longest_gap)
max_gap = longest_gaps.max()

print(f"Longest consecutive missing gap: {max_gap} records")
print(f"Duration: {max_gap * 30 / 60:.1f} hours ({max_gap * 30 / 60 / 24:.1f} days)")

print("\nTop 10 installations by longest gap:")
print(longest_gaps.sort_values(ascending=False).head(10))

--- Longest Consecutive Missing Gaps ---
Longest consecutive missing gap: 1194 records
Duration: 597.0 hours (24.9 days)

Top 10 installations by longest gap:
unique_id
ff0ca093c88c1451    1194
7a9c9915c328e1dc    1194
d4ecaa0b706d8362    1194
82bdd2f05fc19aee    1194
81d4409321ec103c    1194
d5c8b7c9b4366c71    1194
806aad6f019561c2    1194
8038ad65c0fedbe9    1194
7ff4747eb2ca2b37    1194
d5cd5069c50944c7    1194
dtype: int64

In [151]:
print("=== FINAL CLEANING DECISION ===\n")

# Drop rows with missing y
gen_clean_final = gen_full.dropna(subset=['y']).copy()

# Also handle negative values
gen_clean_final.loc[gen_clean_final['y'] < 0, 'y'] = 0

print(f"Original records: {len(gen_full):,}")
print(f"After removing missing: {len(gen_clean_final):,}")
print(f"Installations: {gen_clean_final['unique_id'].nunique()}")
print(f"Utrecht: {(gen_clean_final['dataset']=='Utrecht').sum():,} records")
print(f"Ausgrid: {(gen_clean_final['dataset']=='Ausgrid Solar Home').sum():,} records")

=== FINAL CLEANING DECISION ===

Original records: 30,344,400
After removing missing: 27,563,184
Installations: 475
Utrecht: 12,272,400 records
Ausgrid: 15,290,784 records

In [129]:
print("\n" + "="*70)
print("### ISSUE 3: Anomalous Values ###\n")

# 3a. Overcapacity Analysis
print("--- Overcapacity Analysis ---")

capacity_analysis = gen_clean_final.groupby('unique_id').agg({
    'y': 'max',
    'dc_capacity': 'first',
    'ac_capacity': 'first'
})
capacity_analysis.columns = ['max_gen', 'dc_capacity','ac_capacity']
capacity_analysis['capacity_factor'] = capacity_analysis['max_gen'] / capacity_analysis['dc_capacity']
capacity_analysis = capacity_analysis.sort_values('capacity_factor', ascending=False)

print("\nTop 10 installations by capacity factor (max_gen / dc_capacity):")
print(capacity_analysis.head(10))

======================================================================
### ISSUE 3: Anomalous Values ###

--- Overcapacity Analysis ---

Top 10 installations by capacity factor (max_gen / dc_capacity):
                     max_gen  dc_capacity  ac_capacity  capacity_factor
unique_id
cf58133c6740da1a   96.491036        3.449         2.82        27.976526
dce2a1f20ba0c7af   68.747711        2.526         2.85        27.216038
ba01e3d0fdd47d91  102.654241        3.775         3.00        27.193177
5d4eabb3ec77afbb   84.631355        3.636         3.96        23.275950
e2309c17cbb1f7ac    4.464813        1.557         1.85         2.867574
df180c62e11a206f    1.237000        1.500          NaN         0.824667
0a2e50ff69efcd5c    1.282000        1.570          NaN         0.816561
b621994ef5bd4a1a    1.133000        1.480          NaN         0.765541
65357db004d6f021    0.744000        1.000          NaN         0.744000
3f4012c5dc5c7287    0.738000        1.000          NaN         0.738000

In [130]:
# Anomalies: >1kW at night

# 3b. Night Generation Anomalies
print("\n--- Night Generation Anomalies ---")

gen_valid_copy = gen_clean_final.copy()
gen_valid_copy['hour'] = gen_valid_copy['timestamp'].dt.hour

# Define night hours 
night_data = gen_valid_copy[
    (gen_valid_copy['hour'] <= 6) | (gen_valid_copy['hour'] >= 19)
]
night_anomalies = night_data[night_data['y'] > 1.0]

print(f"Night hours generation >1kW: {len(night_anomalies):,} records")
print(f"Percentage of night data: {len(night_anomalies)/len(night_data)*100:.2f}%")

if len(night_anomalies) > 0:
    print("\nSample night anomalies:")
    print(night_anomalies[['timestamp', 'unique_id', 'y', 'hour']].head(10))

--- Night Generation Anomalies ---
Night hours generation >1kW: 184 records
Percentage of night data: 0.00%

Sample night anomalies:
                   timestamp         unique_id          y  hour
10131803 2017-06-07 06:30:00  5d4eabb3ec77afbb   3.865054     6
10131828 2017-06-07 19:00:00  5d4eabb3ec77afbb  32.906025    19
10131829 2017-06-07 19:30:00  5d4eabb3ec77afbb  10.454399    19
10131830 2017-06-07 20:00:00  5d4eabb3ec77afbb   6.809518    20
10131831 2017-06-07 20:30:00  5d4eabb3ec77afbb   3.453288    20
10131832 2017-06-07 21:00:00  5d4eabb3ec77afbb   1.009952    21
11885388 2012-09-19 05:30:00  6e3c5aae02bfac98   1.008000     5
11887834 2012-11-09 04:30:00  6e3c5aae02bfac98   1.004000     4
11887835 2012-11-09 05:00:00  6e3c5aae02bfac98   1.011000     5
15764292 2014-05-03 19:00:00  886149687a1464a3   1.025634    19

In [136]:
# STEP 1: Investigate overcapacity anomaly
print("=== INVESTIGATING OVERCAPACITY ANOMALY ===\n")

# Check the 4 problematic installations
anomalous_ids = ['ba01e3d0fdd47d91', 'cf58133c6740da1a', '5d4eabb3ec77afbb', 'dce2a1f20ba0c7af']

for uid in anomalous_ids:
    install_data = gen_clean_final[gen_clean_final['unique_id'] == uid].copy()
    
    print(f"\n{uid}:")
    print(f"  DC capacity: {install_data['dc_capacity'].iloc[0]} kW")
    print(f"  Max gen: {install_data['y'].max():.2f} kW")
    print(f"  Mean gen: {install_data['y'].mean():.2f} kW")
    print(f"  Median gen: {install_data['y'].median():.2f} kW")
    print(f"  95th percentile: {install_data['y'].quantile(0.95):.2f} kW")
    
    # Check if dividing by 30 or 1000 makes sense
    print(f"  If divided by 30: max={install_data['y'].max()/30:.2f}, mean={install_data['y'].mean()/30:.4f}")

# DECISION: Are these data errors or should we exclude these installations?

=== INVESTIGATING OVERCAPACITY ANOMALY ===


ba01e3d0fdd47d91:
  DC capacity: 3.775 kW
  Max gen: 102.65 kW
  Mean gen: 0.12 kW
  Median gen: 0.00 kW
  95th percentile: 0.56 kW
  If divided by 30: max=3.42, mean=0.0039

cf58133c6740da1a:
  DC capacity: 3.449 kW
  Max gen: 96.49 kW
  Mean gen: 0.30 kW
  Median gen: 0.00 kW
  95th percentile: 0.40 kW
  If divided by 30: max=3.22, mean=0.0099

5d4eabb3ec77afbb:
  DC capacity: 3.636 kW
  Max gen: 84.63 kW
  Mean gen: 0.11 kW
  Median gen: 0.00 kW
  95th percentile: 0.57 kW
  If divided by 30: max=2.82, mean=0.0035

dce2a1f20ba0c7af:
  DC capacity: 2.526 kW
  Max gen: 68.75 kW
  Mean gen: 0.13 kW
  Median gen: 0.00 kW
  95th percentile: 0.36 kW
  If divided by 30: max=2.29, mean=0.0042

In [152]:
print("=== FIXING OVERCAPACITY ANOMALY ===\n")

# Step 1: Calculate reasonable maximum for each installation
# Physical limit: 1.2x DC capacity (1.5x to be very conservative)
gen_clean_final['max_possible_gen'] = gen_clean_final['dc_capacity'] * 1.5

# Step 2: Count how many values exceed this
overcapacity_count = (gen_clean_final['y'] > gen_clean_final['max_possible_gen']).sum()
print(f"Records exceeding 1.5x DC capacity: {overcapacity_count:,}")

# Step 3: Show examples before capping
print("\nExamples of overcapacity values:")
overcap_examples = gen_clean_final[gen_clean_final['y'] > gen_clean_final['max_possible_gen']][
    ['timestamp', 'unique_id', 'y', 'dc_capacity', 'max_possible_gen']
].head(10)
print(overcap_examples)

# Step 4: Cap values at physical limit
gen_clean_final.loc[gen_clean_final['y'] > gen_clean_final['max_possible_gen'], 'y'] = \
    gen_clean_final.loc[gen_clean_final['y'] > gen_clean_final['max_possible_gen'], 'max_possible_gen']

print(f"\n Capped {overcapacity_count:,} values to 1.5x DC capacity")

# Step 5: Verify the fix
print("\nAfter capping:")
for uid in ['ba01e3d0fdd47d91', 'cf58133c6740da1a', '5d4eabb3ec77afbb', 'dce2a1f20ba0c7af']:
    install_data = gen_clean_final[gen_clean_final['unique_id'] == uid]
    print(f"{uid}: Max={install_data['y'].max():.2f} kW, DC capacity={install_data['dc_capacity'].iloc[0]:.2f} kW")

# Drop the helper column
gen_clean_final = gen_clean_final.drop(columns=['max_possible_gen'])

=== FIXING OVERCAPACITY ANOMALY ===

Records exceeding 1.5x DC capacity: 0

Examples of overcapacity values:
Empty DataFrame
Columns: [timestamp, unique_id, y, dc_capacity, max_possible_gen]
Index: []

 Capped 0 values to 1.5x DC capacity

After capping:
ba01e3d0fdd47d91: Max=5.66 kW, DC capacity=3.77 kW
cf58133c6740da1a: Max=5.17 kW, DC capacity=3.45 kW
5d4eabb3ec77afbb: Max=5.45 kW, DC capacity=3.64 kW
dce2a1f20ba0c7af: Max=3.79 kW, DC capacity=2.53 kW

In [153]:
# Decide on installations to keep/exclude
print("=== FILTERING INSTALLATIONS ===\n")
print("totaly installations:", len(gen_clean_final['unique_id'].unique()))
# Calculate missing percentage per installation
missing_by_id = gen_clean_final.groupby("unique_id").agg({
    "y": [lambda x: (x.isna().sum() / len(x)) * 100]
})
missing_by_id.columns = ["missing_pct"]

# Exclude installations with >20% missing
installations_to_exclude = missing_by_id[missing_by_id['missing_pct'] > 20].index.tolist()
print(f"Installations to exclude (>20% missing): {len(installations_to_exclude)}")
print(installations_to_exclude)

# Filter dataset
gen_clean_final = gen_clean_final[~gen_clean_final['unique_id'].isin(installations_to_exclude)].copy()
print(f"\nDataset shape before filtering: {gen_full.shape}")
print(f"Dataset shape after filtering: {gen_clean_final.shape}")

=== FILTERING INSTALLATIONS ===

totaly installations: 475
Installations to exclude (>20% missing): 0
[]

Dataset shape before filtering: (30344400, 36)
Dataset shape after filtering: (27563184, 36)

In [154]:
# STEP 5: Final quality check
print("=== FINAL DATA QUALITY CHECK ===\n")

print("Target variable (y) statistics:")
print(gen_clean_final['y'].describe())

print(f"\nNegative values: {(gen_clean_final['y'] < 0).sum()}")
print(f"Missing values: {gen_clean_final['y'].isna().sum()}")
print(f"Zero values: {(gen_clean_final['y'] == 0).sum()} ({(gen_clean_final['y'] == 0).sum()/len(gen_clean_final)*100:.1f}%)")

print(f"\nNumber of installations: {gen_clean_final['unique_id'].nunique()}")
print(f"Time range: {gen_clean_final['timestamp'].min()} to {gen_clean_final['timestamp'].max()}")

=== FINAL DATA QUALITY CHECK ===

Target variable (y) statistics:
count    2.756318e+07
mean     8.980493e-02
std      2.031138e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      8.100000e-02
max      5.662500e+00
Name: y, dtype: float64

Negative values: 0
Missing values: 0
Zero values: 15820576 (57.4%)

Number of installations: 475
Time range: 2010-06-30 23:30:00 to 2018-01-01 00:30:00

In [155]:
# STEP 6: Save cleaned dataset
print("=== SAVING CLEANED DATASET ===\n")

# Save as parquet for efficiency
gen_clean_final.to_parquet(f'{DATA_DIR}/gen_clean_final.parquet', index=False)
print(f"Saved to: {DATA_DIR}/gen_clean_final.parquet")
print(f"File size: {gen_clean_final.memory_usage(deep=True).sum() / 1024**2:.1f} MB")

=== SAVING CLEANED DATASET ===

Saved to: ..\data/gen_clean_final.parquet
File size: 6124.8 MB

## Feature engineering
1. Time-based features (hour, day, month, season)
2. Rolling statistics (moving averages)

In [3]:
def optimize_dtypes(df):
    """Reduce memory usage by optimizing data types"""
    print("Optimizing data types to reduce memory...")

    # Float columns to float32
    float_cols = df.select_dtypes(include=['float64']).columns
    for col in float_cols:
        df[col] = df[col].astype('float32')

    # Int columns to smaller ints
    int_cols = df.select_dtypes(include=['int64']).columns
    for col in int_cols:
        df[col] = pd.to_numeric(df[col], downcast='integer')

    return df


def create_temporal_features(df):
    """Create time-based features efficiently"""
    print("Creating temporal features...")

    # Extract basic time features
    df['hour'] = df['timestamp'].dt.hour.astype('int8')
    df['day_of_week'] = df['timestamp'].dt.dayofweek.astype('int8')
    df['day_of_year'] = df['timestamp'].dt.dayofyear.astype('int16')
    df['month'] = df['timestamp'].dt.month.astype('int8')
    df['is_weekend'] = (df['day_of_week'] >= 5).astype('int8')

    # Cyclical encoding
    df['hour_sin'] = np.sin(2 * np.pi * df['hour'] / 24).astype('float32')
    df['hour_cos'] = np.cos(2 * np.pi * df['hour'] / 24).astype('float32')
    df['day_sin'] = np.sin(2 * np.pi * df['day_of_year'] / 365.25).astype('float32')
    df['day_cos'] = np.cos(2 * np.pi * df['day_of_year'] / 365.25).astype('float32')

    # Solar position proxy
    df['hours_from_noon'] = np.abs(df['hour'] - 12).astype('int8')

    return df


def create_lag_features_chunked(df, unique_id_col='unique_id'):
    """Create lag features efficiently by processing each installation separately"""
    print("Creating lag features (this may take a few minutes)...")

    # Sort once
    df = df.sort_values([unique_id_col, 'timestamp'])

    # Lag periods (simplified to reduce memory)
    lag_periods = [1, 2, 6, 48]  # 30min, 1h, 3h, 24h

    lag_features = []

    for lag in lag_periods:
        print(f"  Creating lag_{lag}...")
        df[f'y_lag_{lag}'] = df.groupby(unique_id_col)['y'].shift(lag).astype('float32')

    return df


def create_rolling_features_chunked(df, unique_id_col='unique_id'):
    """Create rolling statistics efficiently"""
    print("Creating rolling statistics...")

    # Simplified windows to reduce memory
    windows = [12, 48]  # 6h, 24h

    for window in windows:
        print(f"  Creating rolling_{window}...")
        df[f'y_roll_mean_{window}'] = (
            df.groupby(unique_id_col)['y']
            .rolling(window, min_periods=1)
            .mean()
            .reset_index(level=0, drop=True)
            .astype('float32')
        )

    return df


def engineer_features_efficient(df):
    """
    Memory-efficient feature engineering
    """
    print("="*70)
    print("MEMORY-EFFICIENT FEATURE ENGINEERING")
    print("="*70)

    initial_memory = df.memory_usage(deep=True).sum() / 1024**2
    print(f"\nInitial memory usage: {initial_memory:.1f} MB")
    print(f"Initial shape: {df.shape}")

    # Step 1: Drop unnecessary columns FIRST
    print("\n1. Dropping unnecessary columns...")
    drop_cols = [
        'building_id', 'location_id', 'location', 'timezone', 'freq',
        'apparent_temperature', 'dew_point_2m', 'rain',
        'et0_fao_evapotranspiration', 'vapour_pressure_deficit',
        'wind_gusts_10m', 'cloud_cover_low', 'cloud_cover_mid', 'cloud_cover_high'
    ]
    drop_cols = [col for col in drop_cols if col in df.columns]
    df = df.drop(columns=drop_cols)
    print(f"   Dropped {len(drop_cols)} columns")

    # Step 2: Optimize data types
    df = optimize_dtypes(df)

    after_optimize = df.memory_usage(deep=True).sum() / 1024**2
    print(f"   Memory after optimization: {after_optimize:.1f} MB (saved {initial_memory - after_optimize:.1f} MB)")

    # Step 3: Create temporal features
    df = create_temporal_features(df)

    # Step 4: Create interaction features (cheap operations)
    print("\n4. Creating interaction features...")
    df['radiation_day'] = (df['shortwave_radiation'] * df['is_day']).astype('float32')
    df['capacity_factor'] = (df['y'] / df['dc_capacity']).astype('float32')

    # Step 5: Create lag features (memory-intensive, do last)
    df = create_lag_features_chunked(df)

    # Step 6: Create rolling features (memory-intensive, do last)
    df = create_rolling_features_chunked(df)

    final_memory = df.memory_usage(deep=True).sum() / 1024**2
    print(f"\n{'='*70}")
    print(f"FEATURE ENGINEERING COMPLETE")
    print(f"{'='*70}")
    print(f"Final shape: {df.shape}")
    print(f"Final memory: {final_memory:.1f} MB")
    print(f"New features created: {df.shape[1] - 33}")  # Assuming started with 33 cols

    return df



# Load cleaned data
print("Loading cleaned data...")
df = pd.read_parquet('../data/gen_clean_final.parquet')

# Apply feature engineering
df_features = engineer_features_efficient(df)

# Save
print("\nSaving features dataset...")
df_features.to_parquet('../data/gen_features.parquet', index=False)
print(" Saved to: ../data/gen_features.parquet")

print("\nColumn summary:")
print(df_features.dtypes)

Loading cleaned data...
======================================================================
MEMORY-EFFICIENT FEATURE ENGINEERING
======================================================================

Initial memory usage: 5914.5 MB
Initial shape: (27563184, 36)

1. Dropping unnecessary columns...
   Dropped 14 columns
Optimizing data types to reduce memory...
   Memory after optimization: 2287.0 MB (saved 3627.5 MB)
Creating temporal features...

4. Creating interaction features...
Creating lag features (this may take a few minutes)...
  Creating lag_1...
  Creating lag_2...
  Creating lag_6...
  Creating lag_48...
Creating rolling statistics...
  Creating rolling_12...
  Creating rolling_48...

======================================================================
FEATURE ENGINEERING COMPLETE
======================================================================
Final shape: (27563184, 40)
Final memory: 3943.0 MB
New features created: 7

Saving features dataset...
 Saved to: ../data/gen_features.parquet

Column summary:
timestamp                   datetime64[ns]
unique_id                         category
y                                  float32
dataset                           category
latitude                           float32
longitude                          float32
dc_capacity                        float32
ac_capacity                        float32
tilt                               float32
azimuth                            float32
temperature_2m                     float32
relative_humidity_2m               float32
precipitation                      float32
cloud_cover                        float32
wind_speed_10m                     float32
wind_direction_10m                 float32
is_day                             float32
sunshine_duration                  float32
shortwave_radiation                float32
direct_radiation                   float32
diffuse_radiation                  float32
direct_normal_irradiance           float32
hour                                  int8
day_of_week                           int8
day_of_year                          int16
month                                 int8
is_weekend                            int8
hour_sin                           float32
hour_cos                           float32
day_sin                            float32
day_cos                            float32
hours_from_noon                       int8
radiation_day                      float32
capacity_factor                    float32
y_lag_1                            float32
y_lag_2                            float32
y_lag_6                            float32
y_lag_48                           float32
y_roll_mean_12                     float32
y_roll_mean_48                     float32
dtype: object

## Building forecasting models

In [9]:
# ============================================================================
# TRAIN/VAL/TEST SPLIT (CHRONOLOGICAL!)
# ============================================================================

print("="*70)
print("TRAIN/VAL/TEST SPLIT")
print("="*70)

# Load features
df = pd.read_parquet(f'{DATA_DIR}/gen_features.parquet')

# Drop rows with NaN (from lag features)
print(f"\nBefore dropping NaN: {len(df):,} rows")
df = df.dropna()
print(f"After dropping NaN: {len(df):,} rows")

# IMPORTANT: Time series split MUST be chronological!
# Don't use random split - would cause data leakage

# Sort by time
df = df.sort_values('timestamp')

# Split: 70% train, 15% validation, 15% test
n = len(df)
train_end = int(0.7 * n)
val_end = int(0.85 * n)

train_df = df.iloc[:train_end]
val_df = df.iloc[train_end:val_end]
test_df = df.iloc[val_end:]

print(f"\nTrain:      {len(train_df):,} rows ({train_df['timestamp'].min()} to {train_df['timestamp'].max()})")
print(f"Validation: {len(val_df):,} rows ({val_df['timestamp'].min()} to {val_df['timestamp'].max()})")
print(f"Test:       {len(test_df):,} rows ({test_df['timestamp'].min()} to {test_df['timestamp'].max()})")

# Save splits
train_df.to_parquet(f'{DATA_DIR}/train.parquet', index=False)
val_df.to_parquet(f'{DATA_DIR}/val.parquet', index=False)
test_df.to_parquet(f'{DATA_DIR}/test.parquet', index=False)

print("\n Saved train/val/test splits")

======================================================================
TRAIN/VAL/TEST SPLIT
======================================================================

Before dropping NaN: 27,563,184 rows
After dropping NaN: 12,264,000 rows

Train:      8,584,800 rows (2014-01-02 01:00:00 to 2016-10-20 00:30:00)
Validation: 1,839,600 rows (2016-10-20 01:00:00 to 2017-05-27 00:30:00)
Test:       1,839,600 rows (2017-05-27 01:00:00 to 2018-01-01 00:30:00)

 Saved train/val/test splits

In [11]:
# ============================================================================
# BASELINE MODEL - Persistence (yesterday's generation)
# ============================================================================

print("="*70)
print("BASELINE MODEL - PERSISTENCE")
print("="*70)

# Prediction: use generation from 24 hours ago (48 periods at 30min)
test_df['y_pred_baseline'] = test_df['y_lag_48']

# Remove NaN predictions
test_baseline = test_df.dropna(subset=['y_pred_baseline'])

# Evaluate
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(test_baseline['y'], test_baseline['y_pred_baseline'])
rmse = np.sqrt(mean_squared_error(test_baseline['y'], test_baseline['y_pred_baseline']))
r2 = r2_score(test_baseline['y'], test_baseline['y_pred_baseline'])

print(f"\nBaseline Performance:")
print(f"  MAE:  {mae:.4f} kW")
print(f"  RMSE: {rmse:.4f} kW")
print(f"  R:   {r2:.4f}")

print("\n This is your baseline to beat!")

======================================================================
BASELINE MODEL - PERSISTENCE
======================================================================

Baseline Performance:
  MAE:  0.0257 kW
  RMSE: 0.0794 kW
  R:   0.5144

 This is your baseline to beat!

# Model evaluation & comparison

In [ ]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import warnings
warnings.filterwarnings('ignore')

print("="*70)
print("XGBOOST vs ARIMA MODEL COMPARISON")
print("="*70)

# ============================================================================
# STEP 1: LOAD DATA
# ============================================================================

print("\n1. Loading data...")
train_df = pd.read_parquet(f'{DATA_DIR}/train.parquet')
val_df = pd.read_parquet(f'{DATA_DIR}/val.parquet')
test_df = pd.read_parquet(f'{DATA_DIR}/test.parquet')

print(f"   Train: {len(train_df):,} rows")
print(f"   Val:   {len(val_df):,} rows")
print(f"   Test:  {len(test_df):,} rows")

# ============================================================================
# STEP 2: DEFINE FEATURES
# ============================================================================

print("\n2. Defining features...")

# Target
target_col = 'y'

# Features for XGBoost
feature_cols = [
    # Weather features
    'shortwave_radiation', 'direct_radiation', 'diffuse_radiation',
    'direct_normal_irradiance', 'sunshine_duration',
    'cloud_cover', 'temperature_2m', 'wind_speed_10m',
    'relative_humidity_2m', 'precipitation',
    
    # System features
    'dc_capacity', 'latitude', 'longitude',
    
    # Temporal features
    'hour_sin', 'hour_cos', 'day_sin', 'day_cos',
    'is_day', 'hour', 'month',
    
    # Engineered features
    'capacity_factor', 'radiation_day',
    
    # Lag features (CRITICAL for time series)
    'y_lag_1', 'y_lag_2', 'y_lag_48',
]

# Remove any columns that don't exist
feature_cols = [col for col in feature_cols if col in train_df.columns]
print(f"   Using {len(feature_cols)} features")

# Drop rows with NaN (from lag features)
train_df = train_df.dropna(subset=feature_cols + [target_col])
val_df = val_df.dropna(subset=feature_cols + [target_col])
test_df = test_df.dropna(subset=feature_cols + [target_col])

print(f"   After dropping NaN - Train: {len(train_df):,}, Val: {len(val_df):,}, Test: {len(test_df):,}")

# Prepare data
X_train = train_df[feature_cols]
y_train = train_df[target_col]

X_val = val_df[feature_cols]
y_val = val_df[target_col]

X_test = test_df[feature_cols]
y_test = test_df[target_col]

# ============================================================================
# MODEL 1: XGBOOST
# ============================================================================

print("\n" + "="*70)
print("MODEL 1: XGBOOST")
print("="*70)

import xgboost as xgb

print("\n3. Training XGBoost model...")

# XGBoost parameters (optimized for time series forecasting)
xgb_params = {
    'objective': 'reg:squarederror',
    'max_depth': 6,
    'learning_rate': 0.1,
    'n_estimators': 100,
    'subsample': 0.8,
    'colsample_bytree': 0.8,
    'min_child_weight': 3,
    'random_state': 42,
    'n_jobs': -1,
    'tree_method': 'hist',  # Faster for large datasets
}

# Train XGBoost
xgb_model = xgb.XGBRegressor(**xgb_params)

xgb_model.fit(
    X_train, y_train,
    eval_set=[(X_val, y_val)],
    early_stopping_rounds=10,
    verbose=False
)

======================================================================
XGBOOST vs ARIMA MODEL COMPARISON
======================================================================

1. Loading data...
   Train: 8,584,800 rows
   Val:   1,839,600 rows
   Test:  1,839,600 rows

2. Defining features...
   Using 25 features
   After dropping NaN - Train: 8,584,800, Val: 1,839,600, Test: 1,839,600

======================================================================
MODEL 1: XGBOOST
======================================================================

3. Training XGBoost model...
    Trained in 99 iterations

4. Making predictions...

5. XGBoost Performance:

   Train Set:
      MAE:  0.0012 kW
      RMSE: 0.0142 kW
      R:   0.9844

   Val Set:
      MAE:  0.0012 kW
      RMSE: 0.0142 kW
      R:   0.9844

   Test Set:
      MAE:  0.0012 kW
      RMSE: 0.0142 kW
      R:   0.9844

6. Top 10 Most Important Features:
   y_lag_1                        0.4927
   capacity_factor                0.2518
   dc_capacity                    0.0929
   latitude                       0.0256
   y_lag_2                        0.0223
   is_day                         0.0155
   y_lag_48                       0.0155
   radiation_day                  0.0140
   day_cos                        0.0130
   shortwave_radiation            0.0111

======================================================================
MODEL 2: BASELINE (PERSISTENCE)
======================================================================

9. Calculating baseline performance...

   Test Set:
      MAE:  0.0257 kW
      RMSE: 0.0794 kW
      R:   0.5144

======================================================================
 FINAL MODEL COMPARISON
======================================================================

                 Model  MAE (kW)  RMSE (kW)  R Score
               XGBoost  0.001156   0.014217  0.984420
Baseline (Persistence)  0.025679   0.079370  0.514432

 XGBoost improvement over baseline: 95.5%
 XGBoost is significantly better - use it!

In [18]:
print(f"    Trained in {xgb_model.best_iteration} iterations")



# Predict
print("\n4. Making predictions...")
y_pred_xgb_train = xgb_model.predict(X_train)
y_pred_xgb_val = xgb_model.predict(X_val)
y_pred_xgb_test = xgb_model.predict(X_test)

# Evaluate XGBoost
print("\n5. XGBoost Performance:")
eval_results = {}
for name, y_true, y_pred in [
    ('Train', y_train, y_pred_xgb_train),
    ('Val', y_val, y_pred_xgb_val),
    ('Test', y_test, y_pred_xgb_test)
]:
    mae_xgb = mean_absolute_error(y_true, y_pred)
    rmse_xgb = np.sqrt(mean_squared_error(y_true, y_pred))
    r2_xgb = r2_score(y_true, y_pred)

    eval_results[name] = {'MAE': mae_xgb, 'RMSE': rmse_xgb, 'R2': r2_xgb}
    
    print(f"\n   {name} Set:")
    print(f"      MAE:  {mae_xgb:.4f} kW")
    print(f"      RMSE: {rmse_xgb:.4f} kW")
    print(f"      R:   {r2_xgb:.4f}")

# Feature importance
print("\n6. Top 10 Most Important Features:")
feature_importance = pd.DataFrame({
    'feature': feature_cols,
    'importance': xgb_model.feature_importances_
}).sort_values('importance', ascending=False)

for idx, row in feature_importance.head(10).iterrows():
    print(f"   {row['feature']:30s} {row['importance']:.4f}")

# Check for overfitting
if eval_results['Test']['MAE'] > eval_results['Train']['MAE'] * 1.5:
    print("\n  WARNING: Possible overfitting detected!")
    print(f"   Test MAE ({eval_results['Test']['MAE']:.4f}) >> Train MAE ({eval_results['Train']['MAE']:.4f})")
else:
    print("\n Model generalizes well")

# Use TEST metrics for final comparison
mae_xgb = eval_results['Test']['MAE']
rmse_xgb = eval_results['Test']['RMSE']
r2_xgb = eval_results['Test']['R2']

# ============================================================================
# MODEL 2: BASELINE (Persistence)
# ============================================================================

print("\n" + "="*70)
print("MODEL 2: BASELINE (PERSISTENCE)")
print("="*70)

print("\n9. Calculating baseline performance...")

# Baseline: Use y_lag_48 (24 hours ago)
if 'y_lag_48' in test_df.columns:
    test_baseline = test_df.dropna(subset=['y_lag_48'])
    y_pred_baseline = test_baseline['y_lag_48']
    y_true_baseline = test_baseline['y']
    
    mae_baseline = mean_absolute_error(y_true_baseline, y_pred_baseline)
    rmse_baseline = np.sqrt(mean_squared_error(y_true_baseline, y_pred_baseline))
    r2_baseline = r2_score(y_true_baseline, y_pred_baseline)
    
    print(f"\n   Test Set:")
    print(f"      MAE:  {mae_baseline:.4f} kW")
    print(f"      RMSE: {rmse_baseline:.4f} kW")
    print(f"      R:   {r2_baseline:.4f}")
else:
    print("     Lag features not available for baseline")
    mae_baseline, rmse_baseline, r2_baseline = None, None, None

# ============================================================================
# FINAL COMPARISON
# ============================================================================

print("\n" + "="*70)
print(" FINAL MODEL COMPARISON")
print("="*70)

comparison = pd.DataFrame({
    'Model': ['XGBoost', 'Baseline (Persistence)'],
    'MAE (kW)': [mae_xgb, mae_baseline],
    'RMSE (kW)': [rmse_xgb, rmse_baseline],
    'R Score': [r2_xgb, r2_baseline],
})

print("\n" + comparison.to_string(index=False))

improvement = (mae_baseline - mae_xgb) / mae_baseline * 100
print(f"\n XGBoost improvement over baseline: {improvement:.1f}%")

if improvement > 20:
    print(" XGBoost is significantly better - use it!")
elif improvement > 0:
    print("  XGBoost is only slightly better - consider if complexity is worth it")
else:
    print(" XGBoost is worse - stick with baseline or debug your model")

    Trained in 99 iterations

4. Making predictions...

5. XGBoost Performance:

   Train Set:
      MAE:  0.0014 kW
      RMSE: 0.0044 kW
      R:   0.9989

   Val Set:
      MAE:  0.0010 kW
      RMSE: 0.0028 kW
      R:   0.9993

   Test Set:
      MAE:  0.0012 kW
      RMSE: 0.0142 kW
      R:   0.9844

6. Top 10 Most Important Features:
   y_lag_1                        0.4927
   capacity_factor                0.2518
   dc_capacity                    0.0929
   latitude                       0.0256
   y_lag_2                        0.0223
   is_day                         0.0155
   y_lag_48                       0.0155
   radiation_day                  0.0140
   day_cos                        0.0130
   shortwave_radiation            0.0111

 Model generalizes well

======================================================================
MODEL 2: BASELINE (PERSISTENCE)
======================================================================

9. Calculating baseline performance...

   Test Set:
      MAE:  0.0257 kW
      RMSE: 0.0794 kW
      R:   0.5144

======================================================================
 FINAL MODEL COMPARISON
======================================================================

                 Model  MAE (kW)  RMSE (kW)  R Score
               XGBoost  0.001156   0.014217  0.984420
Baseline (Persistence)  0.025679   0.079370  0.514432

 XGBoost improvement over baseline: 95.5%
 XGBoost is significantly better - use it!

In [19]:
# ============================================================================
# SAVE BEST MODEL
# ============================================================================

print("\n11. Saving XGBoost model...")
import joblib
joblib.dump(xgb_model, f'{DATA_DIR}/xgboost_model.pkl')
print(f"    Saved to: {DATA_DIR}/xgboost_model.pkl")

print("\n" + "="*70)
print(" MODEL TRAINING AND COMPARISON COMPLETE!")
print("="*70)

11. Saving XGBoost model...
    Saved to: ..\data/xgboost_model.pkl

======================================================================
 MODEL TRAINING AND COMPARISON COMPLETE!
======================================================================